.carousel-item {
  height: 50vh;
  color: var(--min-color);
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-cta {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.price {
  color: #263238;
  font-size: 24px;
}

.card-title {
  color: #263238;
}

.sale {
  color: #e53935;
}

.sale-badge {
  background-color: #e53935;
}

.navbar {
  background: #284b63;
  color: white;
}

.active {
  color: var(--active-color);
}

.menu {
  color: var(--min-color);
}


.container {
  display: flex;
  justify-content: space-between;
}

.btn_menu {
  border: none;
}

.wrapper.active {
  left: 0;
}

.menu-btn {
  position: relative;
  top: 92px;
  left: 50%;
  width: 100%;
  background: var(--dark-color);
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: 1s ease-in-out;
}

.souial_icons {
  display: flex;
  justify-content: center;
}

.souial_icons li {
  margin-right: 7px;
  margin-left: 7px;
}
.menu-btn li {
  margin-bottom: 20px;
}

.menu-btn li a {
  color: var(--min-color);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu-btn li a:hover {
  color: var(--active-color);
}
@media (min-width: 768px) {
  .hading {
    display: none;
  }
}

@media (max-width: 767px) {
  .hading {
    font-size: 24px;
    display: block;
  }
}
