<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container navbar navbar-expand-lg navbar-light">
    <span class="navbar-brand mt-2 mt-sm-0" routerLink="/">GoCart</span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/alhdre.s">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/said-salah-a064a5234">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/SaidSalahAli">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="said">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge rounded-pill badge-notification bg-danger">{{ itemCount }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="said" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto">
      <li *ngIf="!isLoggedin" class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="said">Login</a>
      </li>
      <li *ngIf="isLoggedin" class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="said">Logout</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="said" routerLink="/search" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
    </ul>
    <button (click)="isMenuOpenn()" class="btn hading" type="button">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="menu-btn" [ngClass]="{ open: isMenuOpen }">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="said" (click)="closeMenu()">Home</a>
      </li>
      <li class="nav-item">
        <a (click)="closeMenu()" class="nav-link" routerLink="/cart" routerLinkActive="said">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger">{{ itemCount }}</span>
        </a>
      </li>
    </ul>
    <div class="souial_icons">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/alhdre.s">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/said-salah-a064a5234">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/SaidSalahAli">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </div>
  </div>
  <button class="scroll-top-btn" (click)="scrollToTop()">
    <i class="fas fa-chevron-up"></i>
  </button>
</nav>
