.carousel-item {
  height: 50vh;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-cta {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.price {
  color: var(--background-color);
  font-size: 24px;
}

.card-title {
  color: var(--background-color);
}

.container-fluid {
  color: var(--background-color);
}
.navbar-brand{
  margin: 0 10px 0 0;
  font-size: x-large;
}

.sale-badge {
  background-color: #e53935;
}

nav{
  background: var(--background-color);
  border:1px solid var(--main-color) ;
}


