
<nav class="container navbar navbar-expand-lg navbar-dark mb-5 m-20 shadow p-2">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <h1 class="navbar-brand" style="color: black;" >{{ title }} :</h1>

    <!-- Toggle button -->
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse">
      <select class="form-control rounded-0" (change)="detectChanges($event)">
        <option value="all" selected>All</option>
        <option class="" value="{{ option }}" *ngFor="let option of data">
          {{ option }}
        </option>
      </select>
      <!-- Search -->
      <form class="w-auto py-1" style="max-width: 12rem; margin-left: 20px">
        <input
          type="search"
          class="form-control rounded-0"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>

</nav>
