<app-banner [products]="products"></app-banner>
<div class="container"  >
<!-- Top reting -->
<div></div>
<h1 class="title">Top Rated</h1>
<owl-carousel-o [options]="customOptions"class=" containe d-flex justify-content-center"
style="overflow-x: auto" >
  <ng-template carouselSlide  class="col-md-3" *ngFor="let rating of topRating; let i = index">
    <app-rating
      [data]="rating"
      (addToCartClicked)="addToCart($event)"
    ></app-rating>
  </ng-template>
</owl-carousel-o>

<!-- get Laptops -->
<h1 class="title">Laptops</h1>
<owl-carousel-o [options]="customOptions"class=" containe d-flex justify-content-center"
style="overflow-x: auto" >
  <ng-template carouselSlide  class="col-md-3" *ngFor="let laptop of laptops; let i = index">
    <app-rating
      [data]="laptop"
      (addToCartClicked)="addToCart($event)"
    ></app-rating>
  </ng-template>
</owl-carousel-o>
<!-- get Decoration -->
<h1 class="title">Decoration</h1>
<owl-carousel-o [options]="customOptions"class=" containe d-flex justify-content-center"
style="overflow-x: auto" >
  <ng-template carouselSlide  class="col-md-3" *ngFor="let furn of decoration; let i = index">
    <app-rating
      [data]="furn"
      (addToCartClicked)="addToCart($event)"
    ></app-rating>
  </ng-template>
</owl-carousel-o>
<!-- get smart phone -->
<h1 class="title">Smart Phone</h1>
<owl-carousel-o [options]="customOptions"class=" containe d-flex justify-content-center"
style="overflow-x: auto" >
  <ng-template carouselSlide  class="col-md-3" *ngFor="let phone of smartPhone; let i = index" >
    <app-rating
      [data]="phone"
      (addToCartClicked)="addToCart($event)"
    ></app-rating>
  </ng-template>
</owl-carousel-o>


<!-- All product -->
<h1 class="title">ALL Products</h1>
<div class="my-2">
  <app-select
    [data]="categories"
    [title]="'Categories'"
    (selectedValue)="filterCategory($event)"
  ></app-select>
</div>
<div class=" d-flex justify-content-center">
  <div class="row row-cols-2 row-cols-lg-4" *ngIf="!loading">
    <div class="col-md-3 h-20 mt-4" *ngFor="let prd of products">
      <app-product
        [data]="prd"
        (addToCartClicked)="addToCart($event)"
      ></app-product>
    </div>
  </div>
</div>
  <div class="text-center mt-100 w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
  