<app-banner [products]="products"></app-banner>

<h1 class="title">Top Rated</h1>

<owl-carousel-o [options]="customOptions"class="container containe d-flex justify-content-center"
style="overflow-x: auto">
  <ng-template carouselSlide  class="col-md-3" *ngFor="let rating of topRating; let i = index">
    <app-rating
      [data]="rating"
      (addToCartClicked)="addToCart($event)"
    ></app-rating>
  </ng-template>
</owl-carousel-o>

<h1 class="title">ALL Products</h1>
<div class="my-2">
  <app-select
    [data]="categories"
    [title]="'Categories'"
    (selectedValue)="filterCategory($event)"
  ></app-select>
</div>
<div class="container d-flex justify-content-center">
  <div class="row row-cols-2 row-cols-lg-4" *ngIf="!loading">
    <div class="col-md-3 h-20 mt-4" *ngFor="let prd of products">
      <app-product
        [data]="prd"
        (addToCartClicked)="addToCart($event)"
      ></app-product>
    </div>
  </div>
  <div class="text-center mt-100 w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
