.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  
  .label-focused {
    /* Add your desired styles for the focused state */
    color: blue;
    font-weight: bold;
  }
  
  .label-up {
    margin-top: 5px;
    font-size: 1.1rem;
    color: #777;
    transition: top 0.2s, font-size 0.2s, color 0.2s;
  }
  
  .referral {
    display: flex;
    justify-content: center;
  }
  .m_ladel {
    margin-right: 10px;
  }
  .other {
    margin-bottom: 10px;
  }
  .img-fluid {
    max-width: 100%;
    height: 100%;
  }
  
  .phone {
    display: grid;
  }
  .ph_lab {
    margin-right: 10px;
  }
  .ph_input {
    margin: 2px 0 2px;
  }
  .phone {
    display: flex;
    align-items: center;
  }
  
  .phone input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .ph_removed {
    color: rgb(255, 72, 72);
    background: none;
    border: none;
    font-size: 19px;
  }
  .btn-add {
    color: blue;
    background: none;
    border: none;
    font-size: 19px;
  }
  
  .ph_removed:hover {
    color: #fa2f2fa4;
  }
  
  .btn-add:hover {
    color: #513ef8ab;
  }
  
  @media only screen and (max-width : 576px) {
    .sing_in {
      font-size: smaller;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .sing_in {
      font-size: smaller;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .sing_in {
      font-size: smaller;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .sing_in {
      font-size: smaller;
    }
  }