<div class="row">
  <div class="product-grid">
    <div
      class="product-image"
      [class.hovered]="isHovered"
      (mouseover)="changeImage(data.images[0]); isHovered = true"
      (mouseout)="changeImage(data.thumbnail); isHovered = false"
    >
      <a class="image" [routerLink]="['/details', data.id]">
        <div class="image-carousel">
          <img
            [src]="selectedImage || data.thumbnail"
            class="enlarge-on-hover"
          />
        </div>
      </a>
      <span class="product-discount-label"
        >-{{ data.discountPercentage }}%</span
      >
      <ul class="product-links">
        <li>
          <a [routerLink]="['/details', data.id]"
            ><i class="fa fa-search"></i
          ></a>
        </li>
        <li>
          <a (click)="addToCart()"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
      <div class="add-to-cart">
        <span [innerHTML]="getStarRating(data.rating)"></span>
        <span class="ms-1">{{ data.rating }}</span>
      </div>
    </div>
  </div>
</div>
