.enlarge-on-hover {
  /* Your existing styles */
  transition:  1s ease-in-out;
}

.image-carousel img.hovered {
  transition: 1s ease-in-out;
  opacity: 0.7;
}




.row{ 
  margin: 0.5px;
}
.row img {
  box-shadow: 0 0 10px 1px 0 #000;
}
.product-grid {
  font-family: 'Poppins', sans-serif;
  text-align: center;

}
.product-grid .product-image {
  overflow: hidden;
  position: relative;


  z-index: 1;
}

.enlarge-on-hover {
  transition: transform 0.3s ease;
}

// .enlarge-on-hover:hover {
//   transform: scale(1.1);
// }

.product-grid .product-image a.image {
  display: block;

}

.product-grid .product-image img {
  width: 100%;
  height: 26vh;
 

}
.product-grid {
   margin-bottom: 53px;
}
.product-grid .product-image  {
  // margin-bottom: 53px;
  box-shadow: 0px 10px 8px #99999962;
}
.product-grid .product-discount-label {
  color: #fff;
  background: var(--active-color);
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
}

.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all .5s ease 0s;
}

.product-grid:hover .product-links {
  right: 10px;
}

.product-grid .product-links li a {
  color: var(--dark-color);
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #000000;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}

.product-grid .product-links li:last-child a {
  border-bottom: 1px solid #333;
}

.product-grid .product-links li a:hover {
  color: #fff;
  background: #333;
}

.product-grid .add-to-cart {
  background: transparent;
  color: var(--stars-color);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  top: 130px;
  transition: all 0.3s ease 0s;
}

.product-grid:hover .add-to-cart {
  bottom: 0px;
}

.product-grid .product-image:hover .add-to-cart {
  opacity: 1;
}

.product-grid .add-to-cart:hover {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.product-grid .product-content {
  background: #fff;
  // padding: 15px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.product-grid .title {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}

.product-grid .title a {
  color: #777;
  transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
  color: var(--active-color);
}

.product-grid .price {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}

.product-grid .price span {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}



@media screen and (max-width: 990px) {}



@media screen and (max-width: 450px) {

  .product-grid .title a {
    color: #777;
    transition: all 0.3s ease 0s;
    font-size: smaller;
  }

  .product-grid .add-to-cart {
    font-size: smaller;
    top: 150px;
  }
}


