<footer class="text-center text-lg-start text-white" style="    position: relative;
top: 17vh;
">
    <!-- Section: Social media -->
    <section
             class="border d-flex justify-content-between p-4"
             style=
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/alhdre.s" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/in/said-salah-a064a5234" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/Said_Salah_Ali/" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/SaidSalahAli" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <h4>Hi, my name is<strong> Said Front End Engineer</strong></h4>
            <p>
              As an experienced web developer, I possess expertise in HTML, CSS, Sass, Bootstrap, Tailwind CSS, JavaScript, TypeScript, React.js, Next.js, Redux, and Angular. Additionally, I have experience with MongoDB, problem-solving, and working with APIs.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="https://steady-meringue-4f38a2.netlify.app" class="text-white">React-Movies-App</a>
            </p>
            <p>
              <a href="https://lighthearted-marigold-486084.netlify.app" class="text-white"> Register</a>
            </p>
            <p>
              <a href="https://chimerical-croissant-5de9e1.netlify.app" class="text-white">Food-Menu</a>
            </p>
            <p>
              <a href="https://github.com/SaidSalahAli/front-end-food" class="text-white">Food-Front-End</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a  class="text-white" routerLink="">Home</a>
            </p>
            <p>
              <a  class="text-white"routerLink="/cart">Cart</a>
            </p>
            <p>
              <a  class="text-white" routerLink="login">Login</a>
            </p>
            <p>
              <a  class="text-white" routerLink="/logout">Logout</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i>I am from Egypt ,live in Giza</p>
            <p><i class="fas fa-envelope mr-3"></i> saidsalah375@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+201066536008</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="https://glittering-elf-5d4e77.netlify.app/"
         >Said Salah Ali</a
        >
    </div>
    <!-- Copyright -->
  </footer>