<!-- content -->
<section class="py-5">
  <div class="container border rounded-4 shadow p-2">
    <div class="row count gx-5">
      <div class="col-lg-6">
        <div class="mb-3 d-flex justify-content-center">
          <a
            data-fslightbox="mygallery"
            class="rounded-4"
            target="_blank"
            data-type="image"

          >
            <img
              style="max-width: 100%; max-height: 80vh; margin: auto"
              class="rounded-4 fit"
              [src]="selectedImage || data.thumbnail"
              [style.width.px]="600" [style.height.px]="300" 
            />
          </a>
        </div>

        <div class="container d-flex justify-content-center mb-3 m ">
          <a
            data-fslightbox="mygallery"
            *ngFor="let image of data.images"
            class="border mx-1 m-1 rounded-2"
            target="_blank"
            data-type="image"
            class="item-thumb"
            (mouseover)="selectImage(image)"
          >
            <img width="60" height="60" class="rounded-2 ml-1" [src]="image" />
          </a>
        </div>
      </div>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ data.title }}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <span [innerHTML]="getStarRating(data.rating)"></span>
              <span class="ms-1">{{ data.rating }}</span>
            </div>
            <span class="text-muted"
              ><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span
            >
            <span class="text-success ms-2">{{ data.stock }}</span>
          </div>

          <div class="">
            <span class="h5">${{ data?.price }}</span>
            <span class="text-muted">/per box</span>
          </div>
          <span class="discount mb-3">-{{ data.discountPercentage }}%</span>
          <p>
            {{ data.description }}
          </p>

          <div class="row">
            <dt class="col-3">Type:</dt>
            <dd class="col-9">{{ data.category }}</dd>
            <dt class="col-3">Brand</dt>
            <dd class="col-9">{{ data.brand }}</dd>
          </div>

          <hr />
          <div class="row mb-4">
            <div class="col-md-4 col-6">
              <label class="mb-2">Size</label>
              <select
                class="form-select border border-secondary"
                style="height: 35px"
              >
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
              </select>
            </div>
            <!-- col.// -->
            <div class="col-md-4 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <div class="input-group mb-3" style="width: 170px">
                <button
                  (click)="minsAmount()"
                  class="btn btn-white border border-secondary px-3"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <input
                  type="number"
                  [(ngModel)]="amount"
                  min="1"
                  class="form-control text-center border border-secondary"
                  placeholder="0"
                />
                <button
                  (click)="addAmount()"
                  class="btn btn-white border border-secondary px-3"
                  type="button"
                  id="button-addon1"
                >
                  <i class="fas fa-add"></i>
                </button>
              </div>
              <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2" (click)="minsAmount(data)">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="number"  [(ngModel)]="data.quantity" min="1" class="form-control form-control-sm" />
                <button class="btn btn-link px-2" (click)="addAmount(data)">
                  <i class="fas fa-plus"></i>
                </button>
              </div> -->
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary shadow-0"
            (click)="addToCart()"
          >
            <i class="me-1 fa fa-shopping-basket"></i> Add to cart
          </button>
        </div>
      </main>
    </div>
  </div>
</section>
