.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .container{
    background-color:var(--min-color);
  }
  .discount{
    color: red;
    padding: 2px;
    font-size: 18px;
  }
  .count{
    padding: 50px;
  }

  .item-thumb {
    width: 60px;
    height: 60px;
    padding: 5px;
    
  }
  img.fit {
    padding: 10px;

  }

  .borderr{
    border: 1px solid #000;
  }

  