.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .container{
    background-color:var(--min-color);
  }
  .discount{
    color: red;
    padding: 2px;
    font-size: 18px;
  }
  .count{
    padding: 50px;
  }

  .item-thumb {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 7px; 

    
  }
  .item-thumb img {
    border: 1px solid #000000;
  
  }
  .item-thumb img:hover {
    border: 1px solid #459AD4;
    box-shadow: 0 1px 2px #0e82cf;
  }
  img.fit {
    padding: 10px;

  }

  .borderr{
    border: 1px solid #000;
  }

  .product-gallery__featured {
    border-radius: 8px;
    border: solid 1px #F0F3F4;
    background-color: #fff;
  }
  
  .product-gallery__carousel {
    margin-top: 9px;
  
    owl-carousel-o img{
      border-radius: 8px;
      border: solid 1px #F0F3F4;
    }
  }
  
  .product-gallery__carousel-item--active {
    border: solid 1px #459AD4 !important;
  }
  
  owl-carousel-o::ng-deep{
      img{
        border-radius: 8px;
      }
  }