<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card" style="border-radius: 1rem">
        <div class="row g-0">
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img
              src='assets/pexels-cottonbro-studio-3585089.jpg'
              alt="login form"
              class="img-fluid"
              style="border-radius: 1rem 0 0 1rem"
            />
          </div>
          <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
              <form [formGroup]="userDeleted" (ngSubmit)="deleteAccount()">
                <h1 class="text-uppercase d-flex justify-content-center">
                  Logout
                </h1>
                <div class="form-outline mb-4">
                  <label class="form-label label-up" for="email">Email</label>
                  <input
                    type="email"
                    formControlName="email"
                    id="email"
                    name="email"
                    class="form-control form-control-lg"
                    [class.is-invalid]="email?.invalid && email?.touched"
                    [class.is-valid]="email?.touched && email?.touched"
                  />
                  <!-- Validation messages for Email -->
                  <div
                    class="alert alert-warning"
                    [hidden]="!email?.touched || !email?.errors"
                  >
                    <small *ngIf="email?.errors?.['required']"
                      >Email is required</small
                    >
                    <small *ngIf="email?.errors?.['EmailNotValid']">
                      Email must contain '@', and the value '{{ email?.errors?.['EmailNotValid'].value


                      }}' doesn't match the required format.
                    </small>
                  </div>
                </div>
                <!-- Password -->
                <div class="mb-3">
                  <label class="form-label label-up" for="uPassword"
                    >Password</label
                  >
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control form-control-lg"
                    id="uPassword"
                    name="confirmPassword"
                    [class.is-invalid]="
                      password?.value !== password?.value ||
                      (password?.touched && password?.invalid) ||
                      (password?.touched && password?.value?.length < 8)
                    "
                    [class.is-valid]="
                      password?.value === password?.value &&
                      password?.touched &&
                      !password?.invalid &&
                      password?.touched &&
                      password?.value?.length >= 8
                    "
                  />
                </div>

                <div class="pt-1 mb-4">
                  <button type="submit" class="btn btn-primary">Logout</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
