.image-container {
  position: relative;
  overflow: hidden;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.6) 25%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.6) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none;
}

.container {
  width: 100%;
  height: 76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 3.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: 0.5px;
}


@media (max-width: 768px) {
  h1 {
    font-size: 6vw;
    letter-spacing: -0.05rem;
  }

  p {
    font-size: 2vw;
    letter-spacing: 0.1rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 8vw;
    letter-spacing: 0;
         margin-bottom:5px; 
  }

  p {
    font-size: 7px;
    letter-spacing: 0.05rem;
  }
}


