<div
  id="carouselExampleCaptions"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <div class="carousel-indicators"></div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="image-container">
        <video autoplay muted loop class="d-block w-100" alt="Wild Landscape">
          <source src="assets/pexels-kampus-production-7855143-3840x2160-25fps.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="vignette-overlay"></div>
      </div>
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.525)"></div>
      <div
        class="carousel-caption mb-4 mb-sm-20 text-center align-items-center"
        style="height: 70%"
      >
        <div class="container">
          <h1>GoCart</h1>
          <p>
            Welcome to GoCart! GoCart is a modern and innovative e-commerce
            platform that aims to provide an enjoyable and seamless shopping
            experience for all visitors. It is your ultimate destination for
            online shopping, offering a wide range of high-quality products and
            services at competitive prices.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
