/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
:root {
  --dark-color: #242423;
  --stars-color: #ffb703;
  --min-color: #ffffff;
  --button-color: #353535;
  --background-color: linear-gradient(to right, #242423, #6d676e);
  --active-color: #E53935;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

body {
  padding: 0;
  margin: 0!important;
  background: var(--background-color);
}

li {
  cursor: pointer;
}

html, body {
  height: 100%;
}





.toast-container {
  --bs-toast-zindex: 1090;
  position: fixed;
  width: max-content;
  max-width: 100%;
  pointer-events: none;
  margin-right: 20px;
  margin-top: 50px;
  font-size: smaller;
}