<div class="row">
  <div>
    <div class="product-grid">
      <div
        class="product-image"
        [class.hovered]="isHovered"
        (mouseover)="changeImage(data.images[0]); isHovered = true"
        (mouseout)="changeImage(data.thumbnail); isHovered = false"
      >
        <a class="image" [routerLink]="['/details', data.id]">
          <img
            [src]="selectedImage || data.thumbnail"
            class="enlarge-on-hover"
          />
        </a>
        <span class="product-discount-label"
          >-{{ data.discountPercentage }}%</span
        >
        <ul class="product-links">
          <li>
            <a [routerLink]="['/details', data.id]"
              ><i class="fa fa-search"></i
            ></a>
          </li>
          <li>
            <a (click)="addToCart()"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
        </ul>
        <div class="add-to-cart">
          <span [innerHTML]="getStarRating(data.rating)"></span>
          <span class="ms-1">{{ data.rating }}</span>
        </div>
      </div>
      <div class="product-content" routerLink="/details/{{ data.id }}">
        <h3 class="title">
          <a class="product-content">{{
            data.title.length > 15
              ? data.title.substring(0, 15) + "..."
              : data.title
          }}</a>
        </h3>
        <div class="price">${{ data.price }}</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="product-grid">
      <div class="product-image">
        <ul class="product-links">
          <li>
            <a href="#"><i class="fa fa-search"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-heart"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
