/* Card container */
.card {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--min-color);
}

/* Card body */
.card-body {
  padding: 10px;
}

/* Card title */
.card-body a {
  text-decoration: none;
  color: #333;
}

.card-body a:hover {
  text-decoration: underline;
}

/* Price */
.price {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Stars (assuming it will be used for ratings) */
// .stars {
//   /* Add your styles for displaying stars */
// }

/* Add to cart button and input field */
.cont_btn {
  margin-top: 10px;
}

.cont_btn .btn-primary {
  width: 50%;
}

.cont_btn .form-control {
  width: 70%;
  margin-right: 10px;
}
.discount{
  color: red;
  padding: 2px;
  font-size: 18px;
}
/* Add button */
.bg-cart {
  background: var(--button-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
&:hover {
  background: var(--button-color);
}
}
